<main fxLayout="column" fxLayoutAlign="space-around">

  <!-- Login section-->
  <section fxLayout='column' fxLayoutAlign="space-around center" class="login">
    <div>
      <div fxFlex.xs="80vw" fxFlex.sm="65vw" fxFlex.lg="45vw" class="two_two">
        <mat-card class="login-card">
          <mat-card-title>
            <h2 style="text-align: center;">New User</h2>
          </mat-card-title>
          <mat-card-content>
            <form fxLayout="column" #registerForm="ngForm" (ngSubmit)="register()">
              <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Full Name</mat-label>
                  <input matInput placeholder="Full Name" required [(ngModel)]="model.username" name="username">
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" [(ngModel)]="model.email" name="email">
                </mat-form-field> -->

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" required placeholder="Password" [(ngModel)]="model.password" name="password">
                </mat-form-field>
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions style="text-align: center;" class="social-logins">
            <button mat-raised-button color="accent" [disabled]="!registerForm.valid" (click)="register()">Register</button>
            <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </section>
